<mat-form-field appearance="outline" class="member-search">
  <mat-label>DNI del socio</mat-label>
  <input matInput
         [formControl]="dniControl"
         maxlength="8"
         placeholder="Ej: 30123456"
         aria-label="DNI del socio para buscar">
  <mat-icon matSuffix>search</mat-icon>
  <mat-error *ngIf="errorControl && errorControl.invalid && errorControl.touched">
    <ng-container *ngIf="errorControl.hasError('required')">Ingresá el DNI del socio</ng-container>
    <ng-container *ngIf="errorControl.hasError('pattern')">El DNI debe tener entre 7 y 8 dígitos</ng-container>
  </mat-error>
</mat-form-field>

<ul class="member-search__candidates" *ngIf="!justSelected && (candidates$ | async) as candidates">
  <li *ngFor="let c of candidates" class="member-search__candidate" (click)="select(c)">
    <span class="member-search__candidate-name">{{ c.firstName }} {{ c.lastName }}</span>
    <span class="member-search__candidate-meta">DNI {{ c.dni }} · Socio #{{ c.memberNumber }}</span>
  </li>
</ul>
